{% extends 'pages/base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="card mb-3 m-5 mx-auto rounded w-50" id="login-card">
    <div class="card-header text-center p-0 fs-2"><b>Create Account</b></div>
    <div class="card-body">
        <form method="POST" autocomplete="off">
            {% csrf_token %} {{form|crispy}}
            <br />
            <button type="submit" class="btn btn-secondary w-100 btn-block p-2">
                <i class="fa fa-user-plus" aria-hidden="true"></i>  Create Account
            </button>
        </form>
        <br />
        <div class="text-center">
            <p>Already have an account?</p>
            <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</div>
{% endblock %}