body {
    background-color: #d4c5a9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-text {
    color: #ffffff;
}

.navbar {
    background-color: #93B259;
    color: #5C5A72;
    margin-bottom: 50px;
}

.dropdown-menu {
    background-color: #1e2326;
    color: #d3c6aa;
}

.card-header {
    background-color: #374145;
}

#login-card {
    background-color: #1e2326;
    color: #d3c6aa;
}

#footer {
    margin-top: auto;
    padding: 20px;
    background-color: #93B259;
    width: 100%;
    bottom: 0;
    text-decoration: none;
}