{% load static %}
<div id="footer" class="bg-dark text-white text-center">
    <div id="socials" class="fs-3">
        <a href="https://x.com/SHAQ" class="social-icon"><i class="nf nf-dev-twitter"></i></a>
        <a href="https://www.facebook.com/shaq" class="social-icon"><i class="nf nf-md-facebook"></i></a>
        <a href="https://www.youtube.com/SHAQ" class="social-icon"><i class="nf nf-md-youtube"></i></a>
        <a href="https://www.linkedin.com/in/shaquilleoneal" class="social-icon"><i class="nf nf-md-linkedin"></i></a>
        <a href="https://www.instagram.com/shaq/" class="social-icon"><i class="nf nf-md-instagram"></i></a>
    </div>
    <div class="footer-info d-flex justify-content-around mt-3">
        <div class="copyright"><i class="nf nf-md-copyright"></i> 2025 Rigit Zoo</div>
        <div class="email"><i class="nf nf-md-email"></i> support@rigitzoo.com</div>
        <div class="phone"><i class="nf nf-md-phone"></i> (555) 123-4567</div>
    </div>
</div>